.title {
  font-size: 16px;
  font-weight: bold;
}

.tutorialModal {
  position: fixed;
  font-size: 14px;
  width: 800px;
  top: 200px;
  left: calc((100vw - 800px) / 2);
  padding: 16px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.controls {
  text-align: center;
}
