.finder {
  font-size: 12px;
  border: 1px solid black;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
}

.title {
  cursor: pointer;
  background-color: rgba(223, 223, 223, 0.7);
  font-weight: bold;
  line-height: 20px;
  padding-left: 4px;
}

.title:hover {
  background-color: rgba(223, 223, 223);
}

.suggestions {
  font-size: 12px;
  padding: 4px;
  overflow: scroll;
  height: 240px;
}
