.button {
  padding: 0.25em;
  border-radius: 0.25em;
  background: none;
  border: 1px solid;
  outline: none;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  color: #ea0;
}
